body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    color: #7425ff;
}

h1 {
    font-size: 3em;
}

h2 {
    /* margin-bottom: 2em; */
}

img {
    width: 100%;
}

header {
    background-image: 
        linear-gradient(-3deg, 
        #f5f7f9,
        #f5f7f9 20.8%, 
        #7425ff 21%,
        #5d1eff
    );

    color: #fff;
    padding: 4em 0 6em;

    text-shadow: 0px 3px 6px rgba(0,0,0, 0.25);
}

header h1,
header h2 {
    color: #fff;
}

header a {
    position: absolute;
    top: 1em;
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
    opacity: 0.6;
}

header a:hover {
    color:#fff;
    text-decoration: none;
    opacity: 1.0;
}

section
{
    padding: 4em 0;
}

section img
{
    -webkit-box-shadow: 0 28px 45px rgba(0,0,0,.3);
    -moz-box-shadow: 0 28px 45px rgba(0,0,0,.3);
    box-shadow: 0 28px 45px rgba(0,0,0,.3);
}

section#user-interface
{
    background-image: 
        linear-gradient(-3deg, 
        #fff,
        #fff 25%, 
        #f5f7f9 25%
        );

}

section#admin-panel
{
    background-image: 
        linear-gradient(-3deg, 
        #fff,
        #fff 25%, 
        #f5f7f9 25%,
        #f5f7f9 75%,
        #fff 75%
        );

}

footer
{
    padding: 6em 0;
}

footer p
{
    margin-top: 2em;
    font-size: 0.6em;
}

.padded-container
{
    padding: 4em 0;
}

/* logos
------------------------------------------------------------*/

.logo {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    margin: 1em;
}

.logo.angular {
    background-image:url('../img/logos/angular.png');
}

.logo.bootstrap {
    background-image:url('../img/logos/bootstrap.png');
    width: 140px;
}

.logo.codeigniter {
    background-image:url('../img/logos/codeigniter.png');
}

.logo.docker {
    background-image:url('../img/logos/docker.png');
}

.logo.dotnetcore {
    background-image:url('../img/logos/dotnetcore.png');
}

.logo.estated {
    background-image:url('../img/logos/estated.png');
    width: 260px;
}

.logo.github {
    background-image:url('../img/logos/github.png');
    width: 90px;
}

.logo.mariadb {
    background-image:url('../img/logos/mariadb.png');
}

.logo.nginx {
    background-image:url('../img/logos/nginx.png');
    width: 230px;
}

.logo.rabbitmq {
    background-image:url('../img/logos/rabbitmq.png');
}

.logo.ubuntu {
    background-image:url('../img/logos/ubuntu.png');
}

.logo.vagrant {
    background-image:url('../img/logos/vagrant.png');
    width: 190px;
}
