        <header id="header-benharrison-demo">
            <p>
                <a href="#" id="header-benharrison-demo-close" onclick="document.getElementById('header-benharrison-demo').style.display = 'none'; return false;">&times;</a>
                
                I had been the front-end web developer on this project for a while, which gave me a deep understanding of the existing codebase.
                So for the re-design process I was able to move rapidly between Photoshop and the browser; often using FireBug to make design changes.
                I wanted to showcase my vision with more than static screenshots.
                Below are some of the tangible artifacts leftover from that process.
            </p>
            
            <p>
            <a href="/">&larr; Ben Harrison</a>
            </p>
        </header>
