<footer>
    <div class="container">
        <div class="subcontainer">
        
            <div class="row">
                <div id="footer-external-links" class="col-md-8 col-sm-12">
                
                    <a href="http://careers.stackoverflow.com/benharrison">
                        <i class="fa fa-stack-overflow"></i>Resume</a>
                    <a href="https://dribbble.com/benharrison">
                        <i class="fa fa-dribbble"></i>Dribbble</a>
                    <a href="https://github.com/benharrison">
                        <i class="fa fa-github"></i>Github</a>

                </div>
                <div id="footer-copyright-info" class="col-md-4 col-sm-12">
                    <div>
                        &copy; 2008-2015 Ben Harrison.
                    </div>
                    
                    <div>
                        <a href="tel:1-276-206-9680">(276) 206-9680</a>
                    </div>
                    
                    <div>
                        <a href="mailto:bharrison912@gmail.com">bharrison912@gmail.com</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
