    <section id="footer">
        <div class="container">
            <div class="subcontainer">
                <footer>
                    <p class="visible-xs-block visible-sm-block visible-md-inline visible-lg-inline">
                        &copy; 2008-2015 <strong>Ben Harrison</strong>
                    </p>
                    
                    <span class="visible-md-inline visible-lg-inline">//</span>
                    <p class="visible-xs-block visible-sm-block visible-md-inline visible-lg-inline">
                        <a href="tel:1-276-206-9680"><strong>(276) 206-9680</strong></a>
                    </p>
                    
                    <span class="visible-md-inline visible-lg-inline">//</span>
                    <p class="visible-xs-block visible-sm-block visible-md-inline visible-lg-inline">
                        <a href="mailto:bharrison912@gmail.com"><strong>bharrison912@gmail.com</strong></a>
                    </p>
                </footer>
            </div>
        </div>
    </section>

