/* Blog 
================================================================= */

h1 a
{
    text-decoration:none;
    padding:2px 4px 0;
}


.blog_post {
    margin-bottom:80px;
}

.blog_date
{
    background-color:#303030;
    color:#fff;
    width:90px;
    float:left;
    text-align:center;
    margin-left:-24px;
    margin-right:20px;
    padding:3px 0;
    font-weight:bold;
}

.blog_date em
{
    color:#bbb;
}

#blog_sidebar h4
{
    background-color:#d8d8d8;
    color:#fff;
    font-family:'LeagueGothic';
    font-weight:normal;
    text-transform:uppercase;
    font-size:28px;
    line-height:30px;
    padding-left:4px;
}

#blog_sidebar ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

#blog_sidebar ul li
{
    margin:0;
    margin-left:4px;
}

#blog_sidebar a
{
}

.blog_footnotes
{
    border-top:1px solid #e0e0e0;
    color:#888;
    padding:20px;
}

.blog_meta {
	color:#656565;
	background-color:#0f0f0f;
	padding:8px;
	text-align:right;
	}
	
.blog_meta a {
	text-decoration:none;
	}
	
.blog_meta:hover{
	background-color:#0b0b0b;
	color:#888888;
	}
	
.blog_meta:hover a {
	text-decoration:underline;
	}
	
#blog_sidebar {
    padding-left:30px;
}

#blog_pagination
{
    margin:0 0 20px;
}

#blog_pagination_older, #blog_pagination_newer
{
    height:77px;
    width:133px;
    float:left;
}

#blog_pagination a, #blog_pagination a:hover
{
    background-image:url('/images/ui/oldernewer.png');
    display:block;
    width:100%;
    height:100%;
    background-color:transparent;
}

#blog_pagination a strong
{
    display:none;
}

#blog_pagination_newer
{
    float:right;
}

#blog_pagination_newer a {
    float:right;
    background-position:-133px 0;
}
