header#header-benharrison-demo
{
    font-family:Arial, sans-serif;
    margin:0 auto;
    padding:2em;
    line-height:1.5em;
    text-align:left;
    font-size:12px;
    
    background-color:#fff;
    color:#777;
    border-bottom:1px solid #d4d4d4;
}

header#header-benharrison-demo p
{
    position:relative;
    width:700px;
    margin:1em auto;
}

header#header-benharrison-demo a,
header#header-benharrison-demo a:visited
{
    color:#444;
    text-decoration:none;
    border-bottom:1px dotted #777;
}

header#header-benharrison-demo a:hover
{
    color:#111;
    border-bottom-style:solid;
}

header#header-benharrison-demo p #header-benharrison-demo-close
{
    position:absolute;
    right:-30px;
    border:0;
    font-size:24px;
    color:#ddd;
}

header#header-benharrison-demo p #header-benharrison-demo-close:hover
{
    color:#777;
}