/* Portfolio
----------------------------------------------------------------------- */

#portfolio
{
    background-color:#000;
    color:#bbb;
}

#portfolio .container
{
    background-color:#121212;
}

#portfolio .row {
    border-top:1px solid #222;
    margin-top:4em;
    padding-top:4em;
}

    #portfolio .row:first-child {
        border-top:0;
        margin-top:0;
        padding-top:2em;
    }

    #portfolio .row:last-child {
        margin-bottom:3em;
    }

#portfolio h3 {
    font-family: "Proxima Nova", Helvetica, Arial, Sans-Serif;
    color:#fff;
    font-weight:bold;
    margin:0 0 1em;
    letter-spacing:-0.05em;
}

#portfolio ul
{
    padding-left:1.2em;
}

#portfolio img 
{
    width:100%;
}


/* demo links
----------------------------------------------------------------------- */
a.demo-link
{
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    padding:0.5em 1em;
    color:#fff !important;

    margin: 1em 0 0 1.2em;
    display: inline-block;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.demo-link:hover
{
    background-color:transparent;
    border-color: rgba(255,255,255,1.0);
}

a.demo-link i
{
    margin-right:0.5em;
}

