/* Font Resources
----------------------------------------------------------------------- */
/*
@font-face
{
    font-family: 'LeagueGothic';
    src: url('/assets/fonts/leaguegothic/League_Gothic-webfont.eot');
    src: local('?'), url('/assets/fonts/leaguegothic/League_Gothic-webfont.woff') format('woff'), url('/assets/fonts/leaguegothic/League_Gothic-webfont.ttf') format('truetype'), url('/assets/fonts/leaguegothic/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
		font-family: 'Zurich';
		src: url('/assets/fonts/zurich/zuriclightextracondensed.eot');
		src: url('/assets/fonts/zurich/zuriclightextracondensed.eot?#iefix') format('embedded-opentype'),
					url('/assets/fonts/zurich/zuriclightextracondensed.woff') format('woff'),
					url('/assets/fonts/zurich/zuriclightextracondensed.ttf') format('truetype'),
					url('/assets/fonts/zurich/zuriclightextracondensed.svg#zuriclightextracondensed') format('svg');
		font-weight: normal;
		font-style: normal;
}

/* Additional Reset Stuff
----------------------------------------------------------------------- */

/* http://stackoverflow.com/questions/273964/how-to-change-background-color-on-text-links-on-hover-but-not-image-links */
a img{ vertical-align:text-bottom; }

/* http://paulirish.com/2012/box-sizing-border-box-ftw */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* http://nicolasgallagher.com/micro-clearfix-hack */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/* Custom Styling
----------------------------------------------------------------------- */
::-moz-selection { background: #d1d1d1; color: #000; text-shadow: none; }
::selection { background: #d1d1d1; color: #000; text-shadow: none; }

a, a:visited
{
    color:#fe2f39;
    transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

a:hover, a:hover strong
{
    background-color:#fe2f39;
    color:#fff;
    text-decoration:none;
}

h1
{
    font-family: 'Zurich', Arial, Sans-Serif;
    text-transform: uppercase;
    font-weight:normal;
    font-size:3em;
    line-height:0.8em;
    color:#fe2f39;
    letter-spacing:-0.025em;
}

h1 a 
{
    text-decoration:none;
}

h2, h3, h4
{
    font-weight:bold;
    color:#222;
}

body
{
    background-color:#f5f5f5;
    color:#555;
}

strong
{
    font-weight:bold;
    color:#000;
}

p
{
    margin:0 0 2em;
}

/* Contact Form
----------------------------------------------------------------------- */
#slidecontact_wrap
{
    display:none;
    background-color:#222;
    color:#ddd;
}

#slidecontact_wrap a
{
    color:#ddd;
}

#slidecontact_wrap strong
{
    color:#fff;
}

#slidecontact_wrap h4
{
    color:#fff;
    margin:0 0 0.8em;
}

#contact_form_status { display:none; margin:0 0 1em; padding:0.4em 0.8em; font-weight:bold; }
#contact_form_status.error { background-color:#f4e0e0; color:#fe2f39; }
#contact_form_status.success { background-color:#96c047; color:#000; }

#slidecontact_wrap table td
{
    padding:0.25em 0;
}

#slidecontact_wrap input[type=button]
{
    border:0;
    padding:0.5em 1em;
    font-weight:bold;
    color:#000;
    text-shadow:0 1px 0 #fe7753;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    background: #fe4029;
    background: -moz-linear-gradient(top,  #fe4029 0%, #fe3038 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe4029), color-stop(100%,#fe3038));
    background: -webkit-linear-gradient(top,  #fe4029 0%,#fe3038 100%);
    background: -o-linear-gradient(top,  #fe4029 0%,#fe3038 100%);
    background: -ms-linear-gradient(top,  #fe4029 0%,#fe3038 100%);
    background: linear-gradient(to bottom,  #fe4029 0%,#fe3038 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe4029', endColorstr='#fe3038',GradientType=0 );
}

#slidecontact_wrap input[type=button]:hover
{
    color:#fff;
    text-shadow:0 -1px 0 #98231b;
}

#slidecontact
{
    padding:1em 0;
    margin-top:0 !important;
}

#contact_form
{
    position:relative;
}

#contact_form_blockui,
#contact_form_blockui span
{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
}
#contact_form_blockui
{
    display:none; /* initially hidden */
    background-image:url('/images/ui/semi_transparent_black.png');
}
#contact_form_blockui span
{
    background-image:url('/images/ui/ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center center;
}

#slidecontact form
{
    background-color:#000;
    padding:1.5em;
}

#slidecontact table,
#slidecontact textarea
{
    width:100%;
}

#contact_other
{
    padding:1.5em;
}

#container
{
    background-color:#fff;
    border:1px solid #d4d4d4;
    padding:1.5em;
    padding-top:0;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

header
{
    border-bottom:1px solid #e0e0e0;
    margin-bottom:3em;
}

nav
{
    float:right;
    margin-top:2.5em;
    margin-right:0.8em;
}

nav ul, footer ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

nav ul li
{
    float:left;
    margin:0 0.25em;
}

nav ul li a, nav ul li a:visited
{
    display:block;
    height:100%;
    color:#bbb;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
    padding:4px 8px;
}

nav ul li a:hover
{
    color:#000;
    background-color:transparent;
}

nav ul li a.selected, nav ul li a.selected:hover
{
    color:#fff;
    
    background: #fe562f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlNTYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTJmMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fe562f 0%, #fe2f39 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe562f), color-stop(100%,#fe2f39));
    background: -webkit-linear-gradient(top,  #fe562f 0%,#fe2f39 100%);
    background: -o-linear-gradient(top,  #fe562f 0%,#fe2f39 100%);
    background: -ms-linear-gradient(top,  #fe562f 0%,#fe2f39 100%);
    background: linear-gradient(to bottom,  #fe562f 0%,#fe2f39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe562f', endColorstr='#fe2f39',GradientType=0 );
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    text-shadow:0 1px 0 #b12826;
}

#logo {
    width:250px;
    height:26px;
    background-image:url('/images/logo.png');
    background-repeat:no-repeat;
    background-position:center center;
    float:left;
    margin:1.8em 0.8em;
}

#logo a, #logo a:hover
{
    display:block;
    width:100%;
    height:100%;
    background-color:transparent;
}

#logo a strong
{
    display:none;
}

footer
{
    background-color:#4e4e4e;
    padding:1em 1.5em;
}

footer #footer_nav
{
    float:left;
}

footer #footer_nav ul
{
    margin:0;
    padding:0;
}

footer #footer_nav ul li
{
    float:left;
    margin:0;
    margin-right:10px;
}

footer #footer_nav ul li a,
footer #footer_nav ul li a:visited
{
    font-weight:bold;
    color:#fff;
    background-color:transparent;
}

footer #footer_nav ul li a:hover
{
    color:#ddd;
    background-color:transparent;
}

footer #copyright
{
    color:#bbb;
    float:right;
}


/* Portfolio
----------------------------------------------------------------------- */
.portfolio_item {
    border-top:1px solid #d4d4d4;
    margin-top:2em;
    padding-top:2em;
}

.portfolio_item h3 {
    background-color:#303030;
    color:#fff;
    font-weight:bold;
    display:inline-block;
    padding:0.15em 0.4em;
    margin-top:0;
    letter-spacing:-0.05em;
}

.ie6 .portfolio_item h3,
.ie7 .portfolio_item h3 {
    margin-left:0;
}

.portfolio_description
{
    padding-right:1.5em;
}
.portfolio_description ul
{
    padding-left:1.2em;
}


.portfolio_image img 
{
    max-width:100%;
}


/* About page
----------------------------------------------------------------------- */

#about_image
{
    background-color:#e5e5e5;
    padding:0.25em;
    display:inline-block;
    margin:0 auto;
}

#about_image img
{
    max-width:100%;
    border:1px solid #aaa;
}


/* Responsive-bility
----------------------------------------------------------------------- */

@media all and (min-width: 1060px) {
    #slidecontact,
    #container,
    footer
    {
        width:1060px;
        margin:0.75em auto 0;
    }
    
    #slidecontact #contact_label_column
    {
        width:200px;
    }
    
    #contact_other,
    .portfolio_description
    {
        float:left;
        width:38.2%;
    }
    
    #contact_other
    {
        padding-left:3em;
    }
    
    #contact_other span
    {
        display:block;
    }
    
    #contact_form,
    .portfolio_image
    {
        float:left;
        width:61.8%;
    }
    
    #about_image
    {
        width:25%;
        float:right;
    }
    
    #about_intro
    {
        float:left;
        width:75%;
        padding-right:2em;
    }
}

@media all and (max-width: 1059px) and (min-width: 620px) {
    #slidecontact,
    #container,
    footer
    {
        margin:0.75em 0.75em 0;
    }
    
    #slidecontact #contact_label_column
    {
        width:200px;
    }
    
    .portfolio_description
    {
        float:left;
        width:38.2%;
    }
    
    .portfolio_image
    {
        float:left;
        width:61.8%;
    }
    
    #contact_other span
    {
        margin-right:2em;
    }
    
    #about_image
    {
        width:40%;
        float:right;
        margin-left:2em;
        margin-bottom:1em;
    }
}

@media all and (max-width: 619px) and (min-width:400px) {
    #slidecontact,
    #container,
    footer
    {
        margin:0.75em 0.75em 0;
    }
    
    #logo {
        float:none;
        margin:1.8em auto;
        width:100%;
    }
    
    nav {
        float:none;
        margin:2em auto;
        width:250px;
    }
    nav ul li {
        float:none;
    }
    
    #contact_other span
    {
        display:block;
    }
    
    #about_image
    {
        margin:0 auto 1em;
    }

}

@media all and (max-width: 399px) 
{
    #slidecontact_wrap
    {
        display:none;
    }
    
    #slidecontact,
    #container,
    footer
    {
        margin:0.75em 0.75em 0;
    }
    
    #logo {
        float:none;
        margin:1.8em auto;
        width:100%;
    }
    
    nav {
        float:none;
        margin:2em auto;
        max-width:250px;
    }
    nav ul li {
        float:none;
    }
    
    #contact_other span
    {
        display:block;
    }
    
    #about_image
    {
        margin:0 auto 1em;
    }
}