/* Additional Reset Stuff
----------------------------------------------------------------------- */

/* http://stackoverflow.com/questions/273964/how-to-change-background-color-on-text-links-on-hover-but-not-image-links */
a img{ vertical-align:text-bottom; }

/* http://paulirish.com/2012/box-sizing-border-box-ftw */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1200px){
    .container {
        width: 1060px;
    }
}

.container{
    background-color:#fff;
}

.subcontainer
{
    padding:2em;
}

/* Custom Styling
----------------------------------------------------------------------- */
::-moz-selection { background: #d1d1d1; color: #000; text-shadow: none; }
::selection { background: #d1d1d1; color: #000; text-shadow: none; }

a, a:visited
{
    color:#fe2f39;
    transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

a:hover, a:hover strong
{
    background-color:#fe2f39;
    color:#fff;
    text-decoration:none;
}

h1
{
    font-family: "Gotham Ssm A", "Gotham SSm B", Helvetica, Arial, Sans-Serif;
    font-size:3em;
    line-height:0.8em;
    color:#fe2f39;
    letter-spacing: -0.06em;
}

h1 a 
{
    text-decoration:none;
}

h2, h3, h4
{
    font-family: "Gotham Ssm A", "Gotham SSm B", Helvetica, Arial, Sans-Serif;
    letter-spacing: -0.06em;
    font-weight:bold;
    color:#222;
}

h6
{
    color:#777;
    text-transform:uppercase;
}

body
{
    font-family:"Gotham Narrow Ssm A", "Gotham Narrow SSm B", Helvetica, Arial, Sans-Serif;
    line-height:1.6em;
    background-color:#dddddd;
    color:#555;
}

strong
{
    font-weight:bold;
    color:#000;
}

p,
ul
{
    margin:0 0 2em;
}


/* footer
----------------------------------------------------------------------- */
footer {
    text-align:center;
}

footer p {
    margin-bottom:1em;
}

footer a,
footer a:visited
{
    color:#777;
}

footer a:hover
{
    color:#000;
    background-color:transparent;
    text-decoration:underline;
}

footer a i.fa
{
    margin-right:0.25em;
}

footer #footer-external-links
{
    padding-top:1.6em;
    padding-bottom:1.6em;
}

footer #footer-external-links a
{
    margin-right:1em;
}

/* Responsive-bility
----------------------------------------------------------------------- */

@media all and (min-width: 992px) {
    footer
    {
        margin:0 auto;
    }
    
    footer #footer-external-links
    {
        text-align:left;
    }

    footer #footer-copyright-info
    {
        text-align:right;
    }

    #about_image
    {
        width:25%;
        float:right;
    }
    
    #about_intro
    {
        float:left;
        width:75%;
        padding-right:2em;
    }
}

@media all and (max-width: 991px) and (min-width: 620px) {
    footer
    {
        margin:0 0.75em;
    }
    
    #about_image
    {
        width:40%;
        float:right;
        margin-left:2em;
        margin-bottom:1em;
    }
}

@media all and (max-width: 619px) and (min-width:400px) {
    footer
    {
        margin:0 0.75em;
    }
    
    #logo {
        float:none;
        margin:1.8em auto;
        width:100%;
    }
    
    #about_image
    {
        margin:0 auto 1em;
    }

}

@media all and (max-width: 399px) 
{
    #slidecontact_wrap
    {
        display:none;
    }
    
    footer
    {
        margin:0 0.75em;
    }
    
    #logo {
        float:none;
        margin:1.8em auto;
        width:100%;
    }
    
    nav {
        float:none;
        margin:2em auto;
        max-width:250px;
    }
    nav ul li {
        float:none;
    }
    
    #about_image
    {
        margin:0 auto 1em;
    }
}
