/* Additional Reset Stuff
----------------------------------------------------------------------- */

/* http://stackoverflow.com/questions/273964/how-to-change-background-color-on-text-links-on-hover-but-not-image-links */
a img{ vertical-align:text-bottom; }

/* http://paulirish.com/2012/box-sizing-border-box-ftw */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 1200px){
    .container {
        width: 1060px;
    }
}

.container{
    background-color:#fff;
}

.subcontainer
{
    padding:2em;
}

/* Custom Styling
----------------------------------------------------------------------- */
::-moz-selection { background: #d1d1d1; color: #000; text-shadow: none; }
::selection { background: #d1d1d1; color: #000; text-shadow: none; }

a, a:visited
{
    color:#fe2f39;
    transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

a:hover, a:hover strong
{
    background-color:#fe2f39;
    color:#fff;
    text-decoration:none;
}

h1
{
    font-family: "Gotham Ssm A", "Gotham SSm B", Helvetica, Arial, Sans-Serif;
    font-size:3em;
    line-height:0.8em;
    color:#fe2f39;
    letter-spacing: -0.06em;
}

h1 a 
{
    text-decoration:none;
}

h2, h3, h4
{
    font-family: "Gotham Ssm A", "Gotham SSm B", Helvetica, Arial, Sans-Serif;
    letter-spacing: -0.06em;
    font-weight:bold;
    color:#222;
}

body
{
    font-family:"Gotham Narrow Ssm A", "Gotham Narrow SSm B", Helvetica, Arial, Sans-Serif;
    line-height:1.6em;
    background-color:#f5f5f5;
    color:#555;
}

strong
{
    font-weight:bold;
    color:#000;
}

p
{
    margin:0 0 2em;
}

/* header
----------------------------------------------------------------------- */

header
{
    padding:2.5em 2em;
}

nav
{
    float:right;
}

nav ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

nav ul li
{
    float:left;
    margin:0;
}

nav ul li a, nav ul li a:visited
{
    display:block;
    height:100%;
    color:#bbb;
    text-decoration:none;
    font-size:1.2em;
    padding:0 8px;

    border:2px solid transparent;
    padding:0.5em 1em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

nav ul li a:hover
{
    color:#000;
    border-color:#444;
    background-color:transparent;
}

nav ul li a.selected, nav ul li a.selected:hover
{
    color:#fff;
    
    background: #fe562f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlNTYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZTJmMzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fe562f 0%, #fe2f39 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe562f), color-stop(100%,#fe2f39));
    background: -webkit-linear-gradient(top,  #fe562f 0%,#fe2f39 100%);
    background: -o-linear-gradient(top,  #fe562f 0%,#fe2f39 100%);
    background: -ms-linear-gradient(top,  #fe562f 0%,#fe2f39 100%);
    background: linear-gradient(to bottom,  #fe562f 0%,#fe2f39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe562f', endColorstr='#fe2f39',GradientType=0 );
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    text-shadow:0 1px 0 #b12826;
}


/* Logo
----------------------------------------------------------------------- */
h2#logo {
    float:left;
    margin:0;
    font-size: 2.5em;
}

h2#logo a{
    color:#303030;
}

h2#logo a:hover{
    background-color:transparent;
}


/* footer
----------------------------------------------------------------------- */
footer {
    text-align:center;
}



/* Responsive-bility
----------------------------------------------------------------------- */

@media all and (min-width: 1060px) {
    footer
    {
        width:1060px;
        margin:0.75em auto 0;
    }
    
    #about_image
    {
        width:25%;
        float:right;
    }
    
    #about_intro
    {
        float:left;
        width:75%;
        padding-right:2em;
    }
}

@media all and (max-width: 1059px) and (min-width: 620px) {
    footer
    {
        margin:0.75em 0.75em 0;
    }
    
    #about_image
    {
        width:40%;
        float:right;
        margin-left:2em;
        margin-bottom:1em;
    }
}

@media all and (max-width: 619px) and (min-width:400px) {
    footer
    {
        margin:0.75em 0.75em 0;
    }
    
    #logo {
        float:none;
        margin:1.8em auto;
        width:100%;
    }
    
    nav {
        float:none;
        margin:2em auto;
        width:250px;
    }
    nav ul li {
        float:none;
    }
    
    #about_image
    {
        margin:0 auto 1em;
    }

}

@media all and (max-width: 399px) 
{
    #slidecontact_wrap
    {
        display:none;
    }
    
    footer
    {
        margin:0.75em 0.75em 0;
    }
    
    #logo {
        float:none;
        margin:1.8em auto;
        width:100%;
    }
    
    nav {
        float:none;
        margin:2em auto;
        max-width:250px;
    }
    nav ul li {
        float:none;
    }
    
    #about_image
    {
        margin:0 auto 1em;
    }
}