/* http://stackoverflow.com/questions/273964/how-to-change-background-color-on-text-links-on-hover-but-not-image-links */
a img{ vertical-align:text-bottom; }

/* http://paulirish.com/2012/box-sizing-border-box-ftw */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* https://css-tricks.com/snippets/css/clear-fix/ (August 2012 version) */
.group:after {
  content: "";
  display: table;
  clear: both;
}

