<!doctype html>
<html ng-app="passwordGeneratorGui">
    <head>
    </head>
    <body ng-controller="PasswordGeneratorGuiController as passwords">
        <ol>
            <li ng-repeat="password in passwords.passwordList">{{password}}</li>
        </ol>

        <ul>
            <li ng-repeat="(key, value) in passwords.options">
                <label ng-switch="passwords.getTypeOf(value)">
                    <span ng-switch-when="boolean">
                        <input type="checkbox" ng-model="passwords.options[key]">
                    </span>
                    <span ng-switch-when="number">
                        <input type="number" ng-model="passwords.options[key]">
                    </span>
                    <span ng-switch-default>
                        <input type="text" ng-model="passwords.options[key]">
                    </span>
                    {{ key }} {{ value }}
                </label>
            </li>
        </ul>

    </body>
    <script src="PasswordGenerator.js"></script>

    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script>
        angular.module('passwordGeneratorGui', [])
            .controller('PasswordGeneratorGuiController', function($scope, $interval, $log){
                var listSize = 10;
                var intervalSeconds = 1;

                var passwords = this;
                passwords.passwordList = [];

                passwords.getTypeOf = function(value) {
                    return typeof(value);
                };

                passwords.options = {
                    length: 20,
                    uppercase: false,
                    lowercase: true,
                    digits: true,
                    specialcharacters: true,
                    brackets: true,
                    spaces: false
                };

                var generatePassword = function() {
                    $log.log(passwords.options);
                    var password = PasswordGenerator.Generate(passwords.options);
                    passwords.passwordList.unshift(password);
                    passwords.passwordList.splice(listSize, 1);
                }

                for (var i = 0; i < listSize; i++)
                    generatePassword();
                $interval(generatePassword, intervalSeconds * 1000);
            })
    </script>
</html>