<!doctype html>
<html ng-app="passwordGeneratorGui">
    <head>
        <style type="text/css">
            body {
                font-family: monospace;
            }
        </style>
    </head>
    <body ng-controller="PasswordGeneratorGuiController as ctrl">
        <div>
            {{ctrl.generatedPassword}}
        </div>

        <ul>
            <li ng-repeat="(key, value) in ctrl.options">
                <input type="{{ ctrl.getTypeOf(value) }}" ng-model="ctrl.options[key]" ng-change="ctrl.generatePassword()">
                {{ key }}
            </li>
        </ul>

    </body>
    <script src="PasswordGenerator.js"></script>

    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script>
        angular.module('passwordGeneratorGui', [])
            .controller('PasswordGeneratorGuiController', function($scope, $log){
                var ctrl = this;
                ctrl.generatedPassword = '';

                ctrl.getTypeOf = function(value) {
                    var type = typeof(value);
                    if (type == 'boolean')
                        return 'checkbox';
                    return type;
                };

                ctrl.options = PasswordGenerator.GetDefaultOptions();

                ctrl.generatePassword = function() {
                    ctrl.generatedPassword = PasswordGenerator.Generate(ctrl.options);
                }

                ctrl.generatePassword();
            })
    </script>
</html>