body {
    color:#999;
    margin:0;
    padding:0;
}

#home-wrapper {
    position:absolute;
    bottom:0;
    left:0;
    padding:6em;
}

a,
a:visited,
a:focus {
    color:#aaa;
    text-decoration:none;
}

a:hover,
a:active {
    color:#31a2f1;
    text-decoration:underline;
}

a:active {
    background-color:#fcd211;
}

ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding: 0;
}

ul li {
}

ul li a {
    display:inline-block;
    padding:0.25em;
}

ul li a i {
    width:1.3em;
}

::selection {
    background: #fcd211; /* WebKit/Blink Browsers */
    color:#444;
}
::-moz-selection {
    background: #fcd211; /* Gecko Browsers */
    color:#444;
}
 
