input[type=text],
input[type=password],
select {
    box-sizing: border-box;
    border:1px solid #bbb;
    padding:4px;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    }
    
input[type=text]:hover,
input[type=password]:hover,
select:hover {
    border-color:#999;
    }
    
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
select:active, 
select:focus {
    border-color:#000;
    }