/*
tables.css
---------------------------------
*/

/* Tables */
table { width:100%; }
table td { padding:2px 0; }

/* table headers */
th { 
    background-color:#666;
    color:#fff;
    font-weight:normal;
    font-size:12px;
    padding:2px 0;
    }

table.verttop td { vertical-align:top; } /* align text on top */
tr.alt td, tr td.alt { background-color:#f0f6fb; } /* zebra striping */
    
/* .borders */
table.borders, table.borders td { border:1px solid #ccc; } 
    table.borders th { border: 1px solid #aaa; }
    
/* .rowborders = horizontal borders only */
table.rowborders td {
    border-bottom:1px solid #e5e5e5;
    padding:6px 0;
    }

/* table for week split into 1/8ths to include label */
th.weekday { width:12.5%; }

/* label = 1st column */
td.label {
    background-color:#333 !important;
    color:#fff;
    font-weight:bold;
    text-shadow:-1px -1px 0 #000;
    padding-left:8px;
    }

/*--------------------------------------
Unique Tables
--------------------------------------*/
#generalSettingsTable input, #generalSettingsTable select {
    width:100%;
    }

#capacitySettingsTable td {
    text-align:center;
    padding:4px 0;
    }
    
#capacitySettingsTable input {
    text-align:center;
    color:#666;
    }
    
#capacitySettingsTable input:hover, #capacitySettingsTable input:focus {
    color:#000;
    }
